# Set all to blacklist
/*
/.**

# Set some files to whitelist
!/install.sh
!/.zshrc
!/.zshenv
!/.zsh/
!/.zsh/rc/
!/.zsh/rc/**
!/.zsh.local/
/.zsh.local/**
!/.vimrc
!/.vim/
!/.vim/rc/
!/.vim/rc/**
!/.bin/
!/.bin/**
!/.bin.local
!/.tmux.conf
!/.tmux/
!/.config/
!/.config/alacritty/
!/.config/alacritty/**
/.config/alacritty/themes/
/.config/alacritty/*local*
!/.gitignore_global
!/.venv/
/.venv/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
