# Set all to blacklist
/*
/.**

# Set some files to whitelist
!/install.sh
!/dotfiles
!/dotfiles/zshrc
!/dotfiles/zshenv
!/dotfiles/zsh/
!/dotfiles/zsh/rc/
!/dotfiles/zsh/rc/**
!/dotfiles/zsh/functions/
!/dotfiles/zsh/functions/**
!/dotfiles/zsh/local/
!/dotfiles/vimrc
!/dotfiles/vim/
!/dotfiles/vim/rc/
!/dotfiles/vim/rc/**
!/dotfiles/bin/
!/dotfiles/bin/**
!/dotfiles/bin.local

!/dotfiles/tmux.conf
!/dotfiles/tmux/
!/dotfiles/tmux/plugins/

/dotfiles/config/
!/dotfiles/config/alacritty/
!/dotfiles/config/alacritty/**
/dotfiles/config/alacritty/themes/
/dotfiles/config/alacritty/*local*
!/dotfiles/config/git/
!/dotfiles/config/git/ignore

!/dotfiles/hammerspoon/
!/dotfiles/hammerspoon/**
/dotfiles/hammerspoon/*local*

!/dotfiles/brew/
!/dotfiles/brew/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
